body {
color: Yellow;
background-image: url("https://pbs.twimg.com/media/C7Ez8A7U8AA4ZxZ.jpg");
}
table {
	background-color: #999999;
}
h1, p {
	text-align: center;
}
h1 {
	font-size: 45px;
}
p{
font-size: 25px;
font-family: "Verdana";
}